@charset "UTF-8";

/* CSS Document
----------------------------------------------------------------------------
グローバルナビゲーション
----------------------------------------------------------------------------*/


/*float:base*/
.left{ float:left; }
.right{ float:right; }

/* HEADER - U2plus
============================================================================*/
header#headerU2plus{
	overflow:hidden;
	border-top:6px solid #1F276F;
}
header#headerU2plus .left{
	padding:30px 0 0 30px;
}
header#headerU2plus .left h1{
	width:202px;
	height:60px;
}


/* FOOTER
============================================================================*/
footer{
	clear:both;
	background-color:#1F276F;
	color:#FFF;
	font:.85em/140% Arial, Helvetica, sans-serif;
	padding:30px 30px 60px 30px;
}

/*nfoot*/
ul.nfoot{
	overflow:hidden;
	padding-top:1em;
}
.nfoot li{
	display:inline;
	float:left;
	border-right:1px solid #63689A;
	margin-right:2em;
	padding-right:2em;
	line-height:22px;
}
.nfoot a,
.nfoot a:link,
.nfoot a:active,
.nfoot a:visited{	color:#FFF; border-bottom:1px solid #FFF; }
.nfoot a:hover{	color:#FFF; border-bottom:none; }

/*copyright*/
#copyright{
	padding-top:1em;
}
