@charset "UTF-8";

/* CSS Document
----------------------------------------------------------------------------
うつぺでぃあstyle
----------------------------------------------------------------------------*/

body	{
  background:url(bg.jpg) 0 0 repeat-x scroll;
  margin:	0;
  padding:	0;
}	

/* WRAPPER
============================================================================*/
#wrapper{
	width:980px;
	background-color:#FFF;
	border-right:1px solid #D2D4E2;
	border-left:1px solid #D2D4E2;
	margin:0 auto;
	padding:0;
}


/* HEADER - u2pedia
============================================================================*/
header#headerPedia{
	overflow:hidden;
	background:url(logo_mark.png) 30px center no-repeat scroll;
	background-size:80px;
	-webkit-background-size:80px;
	-moz-background-size:80px;
	-o-background-size:80px;
	-ms-background-size:80px;
	border-bottom:10px solid #93c21e;
	height:80px;
	margin:0;
	padding:15px 30px 15px 130px;
}
#headerPedia h1{
	line-height:100%;
	margin-top:10px;
}
#headerPedia h1 img{
	width:200px;
	height:39px;
}
#headerPedia h1 a{ color:#93c21e; text-decoration:none; }
#headerPedia p	{
	color:	#666;
	margin-top:.5em;
	margin-bottom:1em;
	margin-left:.25em;
}

#cse-search-form {
  width: 250px;
}
td.gsc-clear-button {
  display: none;
}

/*topics*/
#topics h2{
	font-size:1.2em;
	font-weight:bold;
        color:#000;
	width:800px;
	margin:2em 0 9px 6em;
	border-bottom:2px solid #93c21e;
}
#topics ul{
	font-size:1em;
	color:#000;
	list-style-type:disc;
	overflow:hidden;
	margin:0 0 8px 3em;
}
#topics li{
	float:left;
	margin:0 0 0 6em;
}
#topics a, a:link, a:active, a:visited{
	color:#93c21e;
	/* border-bottom:1px solid #93c21e; */
}
#topics a:hover{
	color:#CCC;
	/* border-bottom:none; */
}

/* WIKI_PAGE
============================================================================*/
#wiki_page{
	overflow:hidden;
	font:.85em/2em Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #93c21e;
	padding:10px 30px 0 30px;
	
	/* ↓ストライプ背景↓ */
	background-color: #f0ffc9;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #ffffff), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #ffffff),color-stop(.75, #ffffff), color-stop(.75, transparent),to(transparent));
	-webkit-background-size: 7px 7px;
}

/*wiki_page_info*/
.wiki_page_info{	
	float:left;
	color:#93c21e;
	margin:0;	
}

/*wiki_page_actions*/
ul.wiki_page_actions{
	float:right;
	list-style-type:none;
	margin:	0;
	padding:	0;
}
.wiki_page_actions li{
	float:left;
	font-weight:bold;
	margin-left:5px;
}
.wiki_page_actions li a{
	display:block;
	width:50px;
	background-color:#93c21e;
	color:#FFF;
	text-align:center;
	text-decoration:none;
	padding:0 5px;
}
.wiki_page_actions li a:hover{	
	background-color:#FFF;
	color:#93c21e;
}



/* MAIN
============================================================================*/
#main{
	overflow:hidden;
	margin:0;
	padding:30px;
}

h1.wiki_page_title{
	color:#93c21e;
	font-size:2em;
	font-weight:bold;
	line-height:100%;
	margin:0 0 .5em 0;
}

/* sidebar
----------------------------------------------------------------------------*/
#wiki_content{
	float:right;
	width:72%;
}

#subMenu{
	float:left;
	width:22%;
	background-color:#93c21e;
	padding:2% 2% 2% 30px;
	position:relative;
	left:-30px;
}

#subMenu h1{
	background:url(sidebar/bookmark.png) left center no-repeat;
	background-size:30px;
	-webkit-background-size:30px;
	-moz-background-size:30px;
	-o-background-size:30px;
	-ms-background-size:30px;
	color:#FFF;
	font-size:1.8em;
	font-weight:bold;
	line-height:30px;
	margin-bottom:1em;
	padding-left:30px;
}

#subMenu h2{
	background-color:#FFF;
	background: -moz-linear-gradient(top, #FFF, #CCA);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#AAC));
	color:#630;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	margin-bottom:.5em;
}
#subMenu h2 a{
	display:block;
	background:url(sidebar/play.png) 99% center no-repeat;
	background-size:18px;
	-webkit-background-size:18px;
	-moz-background-size:18px;
	-o-background-size:18px;
	-ms-background-size:18px;
	color:#680;
	font-size:1.2em;
	line-height:100%;
	padding:10px;
}
#subMenu h2 a:hover{
	display:block;
	color:#999;
}
#subMenu ul{
	color:#FFF;
	text-shadow:1px 1px 1px #999;	
	margin-bottom:30px;
}



/* history
----------------------------------------------------------------------------*/
table.wiki_history{
	width:100%;
	border-collapse:collapse;
	margin-bottom:20px;
}
tr.wiki_history_header{
	background-color:#E9E9E9;
	color:#333;
	text-align:center;
	font-weight:bold;
}
table.wiki_history td{
	border:1px solid #CCC;
	padding:5px;
}


/* new, edit
----------------------------------------------------------------------------*/
#new_page label,
#edit_page label{
	display:block;
	font-weight:bold;
	border-left:	5px solid #93c21e;
	padding:0 0.5em;
	margin-bottom:.5em;
}
#edit_page label.recaptcha_input_area_text{
	display:block;
	font-weight:bold;
	border-left:	5px solid #FFF;
	padding:0 0.5em;
	margin-bottom:.5em;
}
#edit_page div.recaptcha_input_area{
}
.form_title,
.form_content,
.form_comment{
	margin-bottom:20px;
}
#edit_page .submit{
	margin-top:5px;
	margin-left:3px;
}
#edit_page .alert{
        font-size:0.9em;
        color:#CC0000;
}
input#page_title,
textarea#wmd-input,
input#page_comment{
	width:99%;
	border:1px solid #CCC;
	line-height:150%;
	padding:5px;
}
#wmd-preview{
	border-left:5px solid #E9E9E9;
	padding:1em 0.5em;
}
#wmd-button-bar{
	margin-bottom:10px;
}

/*preview*/
#wiki_content.preview{
	border:20px solid #E9E9E9;
	margin-bottom:30px;
	padding:20px;
}
#wiki_content.preview p.title{
	color:#CCC;
	font:bold 3em/60% Arial, Helvetica, sans-serif;
	text-align:right;
}


/* wmd-preview(ライブビュー)
----------------------------------------------------------------------------*/
/*見出し*/
#wmd-preview h1,
#wmd-preview h2,
#wmd-preview h3,
#wmd-preview h4,
#wmd-preview h5,
#wmd-preview h6{
	line-height:1.5em;
	font-weight:	bold;
	margin:0 0 10px 0;
}
#wmd-preview h1{
	font-size:	1.8em;
}
#wmd-preview h2{
	font-size:	1.5em;
}
#wmd-preview h3{
	font-size:	1.2em;
}

/*段落*/
#wmd-preview p{
	margin-bottom:10px;
}

/*強調*/
#wmd-preview strong{ font-weight:bold; }
#wmd-preview em{ font-style:italic; }

/*リンク*/
#wmd-preview a{ color:#93c21e; text-decoration:none; }
#wmd-preview a:hover{ color:#CCC; text-decoration:none; }

/*引用*/
#wmd-preview blockquote{
	margin:0 0 10px 0;
	padding:0 0 0 6em;
}

/*リスト(スタイル)*/
#wmd-preview ul{ list-style-type: disc; }
#wmd-preview ol{ list-style-type:decimal; }

/*リスト(インデント)*/
#wmd-preview ul,
#wmd-preview ol{
	padding-left:2em;
	margin-bottom:10px;
}
#wmd-preview ul ul,
#wmd-preview ol ol{
	padding-left:2.5em;
}

/*水平線*/
#wmd-preview hr{
	margin:0 0 10px 0;
}


/* wiki_content(本文スタイル)
----------------------------------------------------------------------------*/
#wiki_content{
	font-size:	1em;
	line-height: 1.8em;
	margin:	0;
	padding: 0;
}

/*見出し*/
#wiki_content h1,
#wiki_content h2,
#wiki_content h3,
#wiki_content h4,
#wiki_content h5,
#wiki_content h6{
	line-height:1.5em;
	font-weight:	bold;
	margin:0 0 10px 0;
}
#wiki_content h1{
	font-size:	1.8em;
	border-bottom:	5px solid #93c21e;
}
#wiki_content h2{
	font-size:	1.5em;
	border-bottom:	2px solid #93c21e;
}
#wiki_content h3{
	font-size:	1.2em;
	border-left:	5px solid #93c21e;
	padding-left:	0.5em;
}

/*段落*/
#wiki_content p{
	margin-bottom:10px;
}

/*強調*/
#wiki_content strong{ font-weight:bold; }
#wiki_content em{ font-style:italic; }

/*リンク*/
#wiki_content a{ color:#93c21e; text-decoration:none; }
#wiki_content a:hover{ color:#CCC; text-decoration:none; }

/*引用*/
#wiki_content blockquote{
	background:url(blockquote.png) 0 0 no-repeat;
	color:#555;
	margin:0 0 10px 0;
	padding:0 0 0 6em;
}

/*画像*/
#wiki_content img{
	display:block;
	margin-bottom:10px;
	border:1px solid #CCC;
}

/*リスト(スタイル)*/
#wiki_content ul{ list-style-type: disc; }
#wiki_content ol{ list-style-type:decimal; }

/*リスト(インデント)*/
#wiki_content ul,
#wiki_content ol{
	padding-left:2em;
	margin-bottom:10px;
}
#wiki_content ul ul,
#wiki_content ol ol{
	padding-left:2.5em;
}

/*水平線*/
#wiki_content hr{
	border:2px solid #CCC;
	margin:0 0 10px 0;
}


/* FOOTER - U2pedia
============================================================================*/
#subFooter	{
	border-top:	1px solid #93c21e;
	border-bottom:	10px solid #93c21e;
	padding:1em 0;
	/* ↓ストライプ背景↓ */
	background-color: #f0ffc9;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #ffffff), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #ffffff),color-stop(.75, #ffffff), color-stop(.75, transparent),to(transparent));
	-webkit-background-size: 7px 7px;
}

/* 「上へ」リンク */
#goTop	{
	overflow:hidden;
	padding-right:30px;
}
#goTop a{
	background:url(iconGotop.png) left center no-repeat;
	display:block;
	float:right;
	color:#93c21e;
	width:2em;
	line-height:16px;
	padding-left:20px;
}
#goTop a:hover{
	color:#CE3;
}




/* なにこれ
============================================================================*/
.wmd-panel{
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	min-width: 500px;
}

.wmd-button-bar{
	width: 100%;
	background-color: Silver; 
}

.wmd-input{ 
	height: 300px;
	width: 100%;
	background-color: Gainsboro;
	border: 1px solid DarkGray;
}

.wmd-preview{ 
	background-color: #c0e0ff; 
}

.wmd-button-row{
	position: relative; 
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 0px;  
	height: 20px;
}

.wmd-spacer{
	width: 1px; 
	height: 20px; 
	margin-left: 14px;
	
	position: absolute;
	background-color: Silver;
	display: inline-block; 
	list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1{ left: 50px; }
.wmd-spacer2{ left: 175px; }
.wmd-spacer3{ left: 300px; }



.wmd-prompt-background{
	background-color: Black;
}

.wmd-prompt-dialog{
	border: 1px solid #999999;
	background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}
